
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ana sehife {{ad}}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"
    </head>
    <body>
        <h1>Hi, necesen {{ad}} {{familiya}}?</h1>

        <form action="" method="post">
            <input type="text" placeholder="adinizi yazin..." name="ad">
            <input type="text" placeholder="soyadinizi yazin..." name="soyad">
            <button type="submit">Axtar</button>
            {% csrf_token %}
        </form>
    </body>
</html>